@import "../../../variables";

.img {
  max-width: 100%;
  height: auto;
  border-radius: $card-border-radius;
}

// icons font
@font-face {
  font-family: 'thronesdb';
  src: url('ArkhamIcons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.skill {
  font-family: 'thronesdb';

  // willpower
  &.p {
    color: #003961;
  }

  // intellect
  &.b {
    color: #4e1a45;
  }

  // combat
  &.c {
    color: #661e09;
  }

  // agility
  &.a {
    color: #00543a;
  }

  // wild
  &.w {
    color: #635120;
  }

  &.correct {
    color: $correct-color !important;
    &:before {
      content: '✓';
    }
  }
}

.value {
  &.correct {
    color: $correct-color !important;
    &:before {
      content: '✓ ';
    }
  }

  &.partial {
    color: $partial-color;
  }

  &.lower {
    color: $lower-color;

    &:before {
      content: '˅ ';
    }
  }

  &.higher {
    color: $higher-color;

    &:before {
      content: '˄ ';
    }
  }
}

// make packs seperated by ,
.packs {
  // ignore first child (title) & last child
  span:not(:first-child, :last-child)::after {
    content: ", ";
  }
}

// add . to each trait
.traits {
  // ignore first child (title)
  span:not(:first-child)::after {
    content: ". ";
  }
}
